* {
  padding: 0;
  margin: 0;
  overflow-x:hidden;
}
body{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.container-2 {
  display: flex;
  flex-direction: column;
  background-color: #f6f6fd;
  text-align: center;
  padding: 100px;
}
.holder{
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  padding: 20px;
}
.holder-1{
  margin: 10px;
  display: flex;
  display: flex;
  gap: 60px;
  margin-top: 10px;
}
.holder-2{
  display: flex;
  gap: 60px;
  margin-top: 30px;
}

.rigth-side {
  padding: 10px;
  /* background-color: aquamarine; */
  margin: 4px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.btn-1 {
  padding: 10px;
  background-color: blueviolet;
  color: white;
  border: solid 1px blueviolet;
  border-radius: 10px;
}
.array {
  font-weight: 800;
  font-size: 20px;
  color: blueviolet;
}
.desk {
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing-page {
  text-align: center;
  margin-bottom: 40px;
}
.btn-2 {
  padding: 10px;
  background-color: blueviolet;
  color: white;
  border: solid 1px blueviolet;
  border-radius: 10px;
  width: 13vw;
}
.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.parent {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}
.left-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-bottom: 50px;
}
.right-text {
  text-align: center;
}
.right-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-bottom: 50px;
}
.-upper-text {
  text-align: center;
}
.parent-perce {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}
.parent-perce h2 {
  font-size: 70px;
  display: flex;
  padding-top: 40px;
}
.container-3 {
  background-color: #6d48e5;
  color: white;
  padding-top: 70px;
  padding-bottom: 70px;
}
.know-more {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 36px;
  color: white;
}
.parent2 {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding-top: 90px;
  padding-bottom: 100px;
}
.left-stuff {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 70px;
}
.sign-up input {
  padding: 14px;
  color: white;
  border: solid 1px blueviolet;
  border-radius: 4px;
  width: 23vw;
}
.signup-size {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.btn-3 {
  padding: 13px;
  background-color: blueviolet;
  color: white;
  border: solid 1px blueviolet;
  border-radius: 4px;
  width: 23vw;
}
footer {
  display: flex;
  justify-content: space-around;
  padding-bottom: 40px;
}
.t9ad{
  display: flex;
  justify-content: space-between;
  gap: 400px;
}
@media (max-width: 428px){
    .container a{
    font-size: 12px;
    }
    .left-side a{
      line-height: 50px;
    }
    .btn-1{
      width: 100px;
    }
    .desk{
      width: 100vw;
    }
    .btn-2{
      width: 40vw;
    }
    .logos{
      flex-direction: column ;
    }
    .holder{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .holder-1{
      flex-direction: column;
    }
    .holder-2{
    flex-direction:column ;
  }
  .left-pic{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  width: 450px;
  }
  .right-pic{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  width: 450px;
  }
  .container-3{
    padding: 70px;
  }
  .parent-perce{
    flex-direction: column;
    gap: 30px;
  }
  .parent-perce h2{
    flex-direction: column;
    font-size: 40px;
  }
  .parent2{
    flex-direction: column;
  }
  .signup-size input{
    width: 272px;
  }
  .btn-3{
    width: 300px;
  }
  .footer{
    flex-direction: column;
    text-align: center;
  }
  .comp-name{
    text-align: center;
  }
  .footer p {
    flex-direction: column; 
    font-size:10px;
    text-align: center;
    padding-top: 20px;
  }
  .rights{
    padding-top: 20px;
  }
  .links {
    display: flex;
    gap: 20px;
    padding-top: 20px;
    
  }
  .links a{
    color: #6d48e5;
  }

}